<!DOCTYPE html>
<html>
<head>
  <title>Peanut Butter & Jams</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="http://connect.soundcloud.com/sdk.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://apis.google.com/js/client.js?onload=onClientLoad" type="text/javascript"></script>
  
  <script>


  </script>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |name, msg| %>
  <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
  <% end %>

<%= yield %>

</body>
</html>
